<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="main">
    <h1>This is a heading</h1>
    <p>This is a paragraph.</p>

    <% include partials/games/motherload.ejs %>
  </div>
</body>
</html>

