<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/styles.css">
  <meta name="description" content="Free Online Games!" />
  <script src="//static.miniclipcdn.com/js/game-embed.js"></script>
</head>

<body>
  <div class="main">
    <h1>ZESTFUL GAMES</h1>
    <h3>Agar.io Game</h3>
    <% include partials/games/agar.ejs %>
    <p class="segue">webiste in development. more games coming soon.</p>
  </div>
</body>
</html>
